@using BoardGame.Utils;
@inject GameManagerService Manager;

<div class="board">
    <CascadingValue Value="this">
        @foreach (var space in Manager.Spaces) {
            <Space SpaceModel="space" />
        }
    </CascadingValue>

    <div class="panel">
        <img class="logo" src="/images/logo.png" />
        <Modal IsOpen="Manager.IsModalOpen" IsOpenChanged="Manager.UpdateModalState" />
        <Dice MoveTokenEvent="Manager.MoveToken" />
    </div>
</div>

@code {
    protected override void OnInitialized() {
        foreach (var token in Manager.Tokens) {
            token.SpaceIdChanged += HandleTokenSpaceIdChanged;
        }
    }

    /// <summary>
    /// Token의 위치가 변경되었을 때 발생된다.
    /// </summary>
    void HandleTokenSpaceIdChanged() {
        StateHasChanged();
    }
}