@inject GameManagerService Manager;

@if (Manager.IsModalOpen || Manager.CurrentSpace == null) return;

<div class="modal-body">
    <div class="modal">
        <div class="modal-submit">
            <button @onclick="Manager.QuizSloveSuccess">성공</button>
            <button @onclick="Manager.QuizSloveFailure">실패</button>
        </div>
        <div class="modal-content">
            <img src="@Manager.CurrentSpace!.Quiz?.QuizPath" />
        </div>
    </div>
</div>

@code {
    //[Parameter] public bool IsOpen { get; set; }
    //[Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    //private void CloseModal() {
    //    IsOpen = false;
    //    IsOpenChanged.InvokeAsync(IsOpen);
    //}
}