@inject GameManagerService Manager;

@if (IsOpen) {
    <div class="modal-body">
        <div class="modal">
            @if (Manager.CurrentSpace is QuizSpaceModel quizSpace) {
                <div class="modal-submit">
                    <button @onclick="() => {
                        CloseModal();
                        Manager.QuizSlove(quizSpace.QuizReward);
                        quizSpace.IsSloved = true;
                    }">성공</button>
                    <button @onclick="CloseModal">실패</button>
                </div>
                <div class="modal-content">
                    <img src="@quizSpace.QuizPath" />
                </div>
            } else
            {
                <button @onclick="CloseModal">Close</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private void CloseModal() {
        IsOpen = false;
        IsOpenChanged.InvokeAsync(IsOpen);
    }
}