@if (IsOpen) {
    <div class="modal">
        <div class="modal-content">
            <h3>Modal Title</h3>
            <p>Modal Content</p>
        </div>

        <div class="modal-submit">
            @if (IsEventModal) {
                <button @onclick="CloseModal">Close</button>
            } else {
                <button >Success</button>
                <button >Fail</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public bool IsEventModal { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private void CloseModal() {
        IsOpen = false;
        IsOpenChanged.InvokeAsync(IsOpen);
    }
}