@inject GameManagerService Manager;

<ul 
    class="space @(SpaceModel is EventSpaceModel ? "event" : "")"
    style="@(SpaceModel is QuizSpaceModel quizSpace && quizSpace.IsSloved ? $"background: url({quizSpace.QuizPath}) #fff center/contain no-repeat" : "")"
>
    @foreach (var token in Manager.Tokens) {
        if (token.SpaceId == SpaceModel.SpaceId) {
            <li class="token item-@token.Id"></li>
        }
    }

</ul>

@code {
    [Parameter] public ISpaceModel SpaceModel { get; set; }
    [CascadingParameter] public Board? Board { get; set; }
}