@inject GameManagerService Manager;

@{
    if (SpaceModel.Quiz is CommonQuizModel) {
        var quizSpace = SpaceModel.Quiz as CommonQuizModel;
        var str = quizSpace.IsSolve ? quizSpace.QuizPath : $"images/space-bg/{quizSpace.Point}.png";
        styles = $"background: url({str}) #fff center/cover no-repeat;";
    } else if (SpaceModel.Quiz is MissionQuizModel) {
        var quizSpace = SpaceModel.Quiz as MissionQuizModel;
        var str = quizSpace.IsSolve ? quizSpace.QuizPath : $"images/space-bg/0.png";
        styles = $"background: url({str}) #fff center/cover no-repeat;";
    }

}

<ul class=@(SpaceModel.Quiz == null ? "space event" : "space") style="@styles">
    @foreach (var token in Manager.Tokens) {
        if (token.SpaceId == SpaceModel.SpaceId) {
            <li class="token item-@token.Id"></li>
        }
    }

</ul>

@code {
    [Parameter] public SpaceModel? SpaceModel { get; set; }
    [CascadingParameter] public Board? Board { get; set; }
    private string styles = "";
}