<li class="token" draggable="true" @ondragstart="() => DragStart(TokenModel)" @ondragend=TokenDelete></li>

@code {
    [CascadingParameter] Board Board { get; set; }
    [Parameter] public TokenModel TokenModel { get; set; }
    [Parameter] public EventCallback TokenDelete { get; set; }

    private void DragStart(TokenModel selectedToken) {
        Board.Payload = selectedToken;
    }
}