@page "/"

<PageTitle>Board Game</PageTitle>

<!--
    판 : div.board
    칸 : ul.space
    말 : li.token
-->

<div class="board">
    <ul class="space">
        <li class="token"></li>
    </ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
    <ul class="space"></ul>
</div>